APP_NAME=cryptobot-api
APP_VERSION=0.1.0

MODEL_PATH=models/logreg_rsi_plus.joblib
MODEL_META_PATH=models/metadata.json

ENABLE_DB_FEATURES=true
PG_URI=postgresql+psycopg2://daniel:datascientest@postgres:5432/dst_db
MARKET_SYMBOL=BTCUSDT
INTERVAL_CODE=1h
LOOKBACK_ROWS=300
LOG_LEVEL=info